.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header_title_background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--content-width);
  gap: 18px;
  text-align: center;
  min-height: 327px;
  max-height: 368px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
}

.html-title {
  font-family: var(--accent-font);
  font-weight: var(--font-weight-400);
  font-size: clamp(49px, 6.93vw, 65px);
  color: #000000;
  line-height: 100%;
}

.tag-title {
  font-family: var(--accent-font);
  font-weight: var(--font-weight-400);
  font-size: clamp(14px, 3.73vw, 23px);
  text-transform: uppercase;
  color: #000000;
  line-height: 100%;
}

