.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header__title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 50px;
  width: var(--content-width, clamp(320px, 100%, 700px));
  height: 327px;
  border: 2px solid #000000;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-family: var(--accent-font, "Press Start 2P", sans-serif);
  font-weight: var(--font-weight-normal, 400);
  line-height: 100%;
}

.header__title {
  font-size: clamp(49px, 6.93vw, 65px);
  text-transform: uppercase;
}

.header__subtitle {
  font-size: clamp(14px, 3.73vw, 23px);
  text-transform: uppercase;
}

@media (width >= 467px) {
  .header__title-block {
    height: 368px;
  }
}
