/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "Press Start 2P", sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 410;
  --font-weight-bold: 715;
  --card-text-size: 18px;
  --content-width: clamp(320px, 100%, 700px);
  --page-background-gradient:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --accent-color: #000000;
  --button-text-color: #ffffff;
  --contour-color: #000000;
  --animation-fill-color: #ff0000;
}
